<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading">Education Research and Evaluation</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li class="p-name">Chris Mead</li>
            <li><a class="u-email" href="mailto:chris.mead@asu.edu">chris.mead@asu.edu</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        <p>Assistant Research Scientist<br>
        School of Earth & Space Exploration<br>
        Center for Education Through Exploration<br>
        Arizona State University</p>
      </div>
    </div>


  </div>

</footer>
